#Section4-img{
	max-width: 800px
}
.Section-4 p{
	text-wrap:balance;
}

.holidays{
	height: 300px;
	color: #fff;
	background-size: cover;
	padding-top: 100px;
	background-image: url(../../../img/Rectangle\ 19294.png);
}

.holidays h1{
	margin-left: 50px;
	max-width: 400px;
	font-size: 40px;
}