.Header {
  padding: 15px 0 50px 0;
  background-image: url(../../img/Rectangle\ 19290.png);
  background-size: cover;
  color: #fff;
}

.Header .col {
  color: #fff;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Header .col a {
  color: #fff;
  text-decoration: none;
}

/* .Header .col button{
	background: #DF6951;
	padding: 10px;
	border: none;
	border-radius:  10px;
	color: #fff;
	font-family: Arial;
} */

.menu {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 750px;
  justify-content: space-around;
}

.Header .menu span {
  padding-right: 45px;
  /* margin-left: 50px; */
  height: 40px;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.Section-1 {
  font-family: Arial;
  margin-top: 150px;
  width: 500px;
  color: #fff;
}

.Section-1 h1 {
  font-size: 50px;
  font-weight: 600;
}

.menu button {
  margin-left: 50px;
  background: #df6951;
  padding: 10px 45px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: Arial;
}

.Carousel__div1{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../../img/carousel1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.Carousel__div2{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../../img/carousel2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.Carousel__div3{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../../img/carousel3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.Carousel__div4{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url("../../img/carousel4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
